/*GENERAL RULES*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
}

/*RULES HEADER*/

.container-full{
    width: 100%;
    position: fixed;
    z-index: 1;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-33{
    width: calc(100% / 3);
}

.content{
    justify-content: center;
    text-align: center;
}

.logo{
    width: 145px;
    height: auto;
    padding: 15px;
}

p{
    color: white;
    padding-top: 17px;
    font-weight: bold;
}

.minilogo{
    width: 20px;
    padding-top: 15px;
}

.bg-orange{
    background-color: rgb(255, 140, 46);
}

/*RULES MAIN*/

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.col-30{
    width: calc(100% / 3);
}

.photo{
    width: 100%;
}

.contentmain{
    margin: 10px;
    position: relative;
}

.label{
    padding: 10px;
    color: white;
    position: absolute;
    bottom: 40px;
    left: 0;
}

.green{
    background-color: green;
}

.red{
    background-color: red;
}

.label-green{
    padding: 10px;
    color: white;
    position: absolute;
    bottom: 40px;
    left: 65px;
    background-color: green;
}


/*RULES FOOTER*/

footer{
    background-color: rgb(20, 20, 20);
}

.col-50{
    width: calc(100% / 2);
}

ul{
    color: white;
    list-style: none;
}

li{
    font-size: small;
    display: inline-block;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 30px;
}

hr{
    color: white;
}

/*ID*/

#mt-100{
    margin-top: 100px;
}

#ta-end{
    text-align: end;
}