/*GENERAL RULES*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
}

/*RULES HEADER*/

.container-full{
    width: 100%;
    position: fixed;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-33{
    width: calc(100% / 3);
}

.content{
    justify-content: center;
    text-align: center;
}

.logo{
    width: 145px;
    height: auto;
    padding: 15px;
}

p{
    color: white;
    padding-top: 17px;
    font-weight: bold;
}

.minilogo{
    width: 20px;
    padding-top: 15px;
}

.bg-orange{
    background-color: rgb(255, 140, 46);
}

/*RULES MAIN*/

main{
    margin: 20px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.col-30{
    width: calc(100% / 3);
}


.bg-green{
    background-color: green;
    border: 1px solid black;
    height: 300px;
    margin: 10px;
}

/*RULES FOOTER*/

/*ID*/